<!DOCTYPE html>
<!--[if lt IE 9]>
<html lang="en" class="ie">
<![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <title class="mojagedit" mojag-element='Title'>SASS Template</title>

        <!-- Latest Bootstrap compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

        <!-- Latest Bootstrap compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- <script src="js/bootstrap.min.js" type="text/javascript"></script> -->

        <!-- Mobile Detection -->
        <script src="http://d10g66oj25kfp1.cloudfront.net/js/device.min.js" type="text/javascript"></script>
        <!-- <script src="js/device.min.js" type="text/javascript"></script> -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
  
        <link rel="stylesheet" href="css/style.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        <link href="https://maxcdn.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy">
        <link href="respondjs/respond.proxy.gif" id="respond-redirect" rel="respond-redirect">
        <script src="respondjs/respond.proxy.js"></script>
        <![endif]-->

        <!-- IE7 support for querySelectorAll in 274 bytes. Supports multiple / grouped selectors and the attribute selector with a "for" attribute. http://www.codecouch.com/ -->
        <!--[if lt IE 8]>
        <script>
            (function(d,s){d=document,s=d.createStyleSheet();d.querySelectorAll=function(r,c,i,j,a){a=d.all,c=[],r=r.replace(/\[for\b/gi,'[htmlFor').split(',');for(i=r.length;i--;){s.addRule(r[i],'k:v');for(j=a.length;j--;)a[j].currentStyle.k&&c.push(a[j]);s.removeRule(0)}return c}})()
        </script>
        <![endif]-->

        <link rel="stylesheet" href="css/slide.css" />

        <link rel="stylesheet" href="css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="css/jquery.mmenu.widescreen.css" media="all and (min-width: 1830px)" />
        <link rel="stylesheet" href="css/hamburgers.min.css" />

        <!-- Fontface Loader -->
        <script>
            var scr;
            if(typeof Promise !== "undefined" && Promise.toString().indexOf("[native code]") !== -1){
                scr = "js/fontfaceobserver.standalone.js";
            } else {
                scr = "js/fontfaceobserver.js";
            }
            $.getScript(scr).done(function(){ ffoLoaded(); });
        </script>

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

        <style type="text/css">
            #hamburger {
                position: fixed;
                top: 20px;
                left: 20px;
                z-index: 2;
            }
        </style>

    </head>

    <body class="gothambook">

        <script type="text/javascript">
            function ffoLoaded() {
                var fontOS = new FontFaceObserver('GothamBookRegular');
                fontOS.load(null,20000).then(function () {
                    document.documentElement.className += " fontGB-loaded";
                });
            }
        </script>

        <div id="page" class="mm-slideout">

            <a href="#" id="hamburger" class="Fixed">
                <span class="hamburger hamburger--collapse">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
            </a>

            <header id="header" class="wc_common">
            
                <div class="container">
                    <div class="row">
                        <div class="mobile">
                            <h1 id="mobile-logo">
                                <span class="mojagedit" mojag-element='Mobile-Logo'></span>
                            </h1>
                        </div>
                        <div class="col-sm-12 logo">
                            <h1 id="logo">
                                <span class="mojagedit" mojag-element='Logo'></span>
                                <span style="display:block;width:180px;height:100px;background:purple;color:white;font-size:18px;text-transform:uppercase;padding:5px;font-weight:bold;">Logo_Element</span>
                            </h1>
                        </div>
                        <div class="col-sm-12 greet">
                            <div class="fa wifi"></div>
                            <div  class="greetings mojagedit" mojag-element='Header'>
                                <!-- Default Header -->
                                <p style="text-transform:uppercase;">Connected_Element</p>
                            </div>
                        </div>
                    </div>
                </div>

            </header>

            <section id="body-section" class="wc_common">
                <div class="container">
                    <div class="min-height">

                        <div id="banner1">
                            <span class="mojagedit" mojag-element='banner1'>
                                <!-- <img style="width:300px;" src="images/mpu.jpg"> -->
                                <!-- <img src="images/leaderboard.jpg"> -->
                                <!-- <img src="images/billboard.jpg"> -->
                                <!-- <img src="http://d1y7fugidfyvfy.cloudfront.net/api/file/IWX0LJtQQvG0KmNA19CS"> -->
                                <!-- <img style="width:300px;" src="http://d1y7fugidfyvfy.cloudfront.net/api/file/DTX7duISLi3SZedR2o7X"> -->
                            </span>
                            <span style="display:block;width:970px;height:250px;background:darkred;color:white;font-size:18px;text-transform:uppercase;padding:5px;font-weight:bold;">Campaign_Element</span>
                        </div>
                        <div id="hotel-banner" class="widgets">
                            <ul class="rslides mojaggallery desktop wide">
                                <li>
                                    <div class="holder">Hotel Banner - Landscape<br>(up to 2 images on rotation)</div>
                                </li>
                            </ul>
                        </div>
                        <div id="widget3" class="widgets">
                            <div class="widget-container-wide">
                                <div id="info3" class="widget">
                                    <div>Date/Weather Widget</div>
                                </div>
                            </div>
                        </div>
                        <div id="social" class="widgets">
                            <div class="widget-container-wide">
                                <div id="info3" class="widget">
                                    <div>Social Media icons</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <footer id="footer" class="wc_common">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 copyright mojagedit" mojag-element='Footer'>
                            <p>This page uses cookies to optimise guest internet services. View the full <a href="http://www.lankwaifonghotel.com.hk/privacy-en.html" title="Privacy Policy" target="_blank">privacy&nbsp;policy</a> statement<br>
                            <br>
                            <a href="http://www.lankwaifonghotel.com.hk/disclaimer-en.html" title="Legal Notice" target="_blank">Legal notice</a></p>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

        <nav id="menu" ng-app="demoApp" ng-controller="demoCtrl">
            <ul class="listview-icons">
                <li ng-repeat="menu in menus">
                    <a href="{{menu.url}}">
                        <i class="{{menu.iconClass}}"></i> &nbsp; {{menu.name}}
                    </a>
                    <ul ng-if="menu.id">
                        <li ng-repeat="subItem in menu.sub">
                            <a href="{{subItem.url}}">
                                <i class="{{subItem.iconClass}}"></i> &nbsp; {{subItem.name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="js/layout.js"></script>
        <script src="js/jquery.mmenu.all.min.js"></script>

        <script src="js/responsiveslides-custom.min.js"></script>
        <script src="js/script2.js"></script>

        <!-- Mojag hosted vars -->

        <!-- end AD tag -->
        <input type="hidden" name='mojag-streamid' id='mojag-streamid' value="[[STREAMID]]" />

    </body>

</html>